Repository teknologi-pendidikan/pameran-karya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.js": ["prettier --write", "eslint"],
  "*.json": "prettier --write",
  "*.css": ["prettier --write", "eslint"],
  "*.scss": "prettier --write"
}

chore: basic metadata
  app/manifest.webmanifest
  app/robots.ts
  app/sitemap.ts
  public/icon-256.png
  public/maskable_icon.png
Due: prettier --write, eslint

ui: make 2 columns layout and simple header for desktop & mobile
  app/blog/[slug]/page.tsx
  app/globals.css
  assets/blog/inovasi-penelitian.mdx
  assets/blog/seni-budaya-digital.mdx
  components/MarkdownContent.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

ui: smaller logo on mobile
  components/footer.tsx
Due: prettier --write, eslint

dx: replace old image placeholder
  app/page-backup.tsx
  components/sections/ConferenceSection.tsx
  components/sections/FeaturedUniversity.tsx
  components/sections/InstagramFollow.tsx
  components/sections/StudentPhotography.tsx
  public/placeholder-foto-a20-16x9.webp
  public/placeholder-foto-labtepum-16x9.webp
  public/placeholder-foto-praktikum-16x9.webp
  public/placeholder-foto-umdrone-16x9.webp
Due: prettier --write, eslint

ui: responsive design, make the carausel show 1 - 2 deck
  app/explore/page.tsx
  components/CategoryCarousel.tsx
  components/ExploreCarousel.tsx
Due: prettier --write, eslint

feat: conference page
  app/conference/page.tsx
  assets/data/conference.data.ts
  assets/data/homepage.data.ts
  assets/data/navigation.data.ts
  components/sections/ConferenceSection.tsx
Due: prettier --write, eslint

build: use static robots txt
  app/robots.ts
  app/robots.txt
Due: prettier --write, eslint

fix: force static generation for the sitemap
  app/sitemap.ts
Due: prettier --write, eslint

build: add husky
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: support cloudflare page
  wrangler.jsonc
Due: none

Update name in Wrangler configuration file to match deployed Worker
  wrangler.jsonc
Due: none

dx: basic repository metadat
  .github/instructions/supabase.instructions.md
  .github/instructions/supabase.javascript.instructions.md
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  package.json
Due: prettier --write

dx: add example env file
  example.env
Due: none

dx: basic security disclosure
  SECURITY.md
  public/.well-known/security.txt
  public/llms.txt
Due: none

test: verify git hook works
  .husky/.gitignore
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add analytics features
  app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: delete env
  example.env
Due: none

build: use programtic metadat file instead of static
  app/manifest.ts
  app/manifest.webmanifest
  app/robots.ts
  app/robots.txt
Due: prettier --write, eslint

Configure Secret Detection in `.gitlab-ci.yml`, creating this file if it does not already exist
  .gitlab-ci.yml
Due: none

dx: remove custom instructions
  .github/instructions/supabase.instructions.md
  .github/instructions/supabase.javascript.instructions.md
Due: none

perf: change yt embed to lite-embed using nexctjs thirparties
  app/conference/page.tsx
  app/person/[slug]/page.tsx
  app/work/[slug]/page.tsx
  lib/youtubeEmbed.ts
Due: prettier --write, eslint

ui: add some padding and copywritting
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
Due: prettier --write, eslint

chore: linking to planned pages
  components/footer.tsx
Due: prettier --write, eslint

docs: update blog to show pedoman unggah karya
  assets/blog/pedoman-pengiriman-karya.mdx
  assets/blog/teknologi-pendidikan-modern.mdx
Due: none

chore: change placeholder image with lego style
  components/sections/ConferenceSection.tsx
  components/sections/FeaturedUniversity.tsx
  components/sections/InstagramFollow.tsx
  components/sections/StudentPhotography.tsx
  public/placeholder-foto-labtepum-lego-16x9.webp
  public/placeholder-foto-praktikum-lego-16x9.webp
  public/placeholder-foto-umdrone-lego-16x9.webp
  public/placeholder-foto-univet-16x9.webp
Due: prettier --write, eslint

ui: change image that generated by AI
  components/sections/ExploreSection.tsx
  components/sections/FeaturedUniversity.tsx
  public/category-buku-4x6.png
  public/category-buku-4x6.webp
  public/category-multimedia-4x6.webp
  public/category-risetpendidikan-4x6.webp
  public/category-video-4x6.webp
Due: prettier --write, eslint

db: update seeding
  supabase/schema.sql
  supabase/seed.sql
Due: none

feat: add category page
  app/category/[slug]/page.tsx
  assets/data/homepage.data.ts
Due: prettier --write, eslint

ui: update image
  assets/data/homepage.data.ts
  components/CategoryCarousel.tsx
  components/sections/ExploreSection.tsx
  placeholder-generator.af
  public/category-ai-1x1.webp
  public/category-belajardigital-1x1.webp
  public/category-gamifikasi-1x1.webp
  public/category-tep-1x1.webp
Due: prettier --write, eslint

ui: make header same design and layout
  app/blog/page.tsx
  app/category/[slug]/page.tsx
  app/explore/page.tsx
  app/page.tsx
  app/person/page.tsx
  app/work/page.tsx
Due: prettier --write, eslint

dx:ignore affinity file
  .gitignore
Due: none

feat: add sponsors, about comitte
  assets/blog/dibalik-layar-tim-pengelola.mdx
  assets/data/sponsor.data.ts
  components/footer.tsx
  components/sections/SponsorSection.tsx
  public/lambang-cloudflare.png
  public/lambang-idcloudhost.webp
  public/lambang-um.webp
Due: prettier --write, eslint

chore: add basic timeline page
  apps/pamerankarya/assets/blog/linimasa-kegiatan.mdx
Due: none

ui: simplify the design for the mobile navigation
  apps/pamerankarya/components/sections/BlogReleaseSection.tsx
Due: prettier --write, eslint

ui: heading changes to WCAG
  apps/pamerankarya/assets/data/sponsor.data.ts
  apps/pamerankarya/components/footer.tsx
  apps/pamerankarya/components/navbar.tsx
  apps/pamerankarya/components/sections/ExploreSection.tsx
  apps/pamerankarya/components/sections/FeaturedUniversity.tsx
  apps/pamerankarya/components/sections/InstagramFollow.tsx
  apps/pamerankarya/components/sections/StudentPhotography.tsx
  apps/pamerankarya/public/lambang-imatepsi.png
Due: prettier --write, eslint

deps: install supabase again
  .gitignore
  apps/pamerankarya/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

dx: add static file serving
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: search title and author
  apps/pamerankarya/app/work/WorkDirectoryClient.tsx
  apps/pamerankarya/app/work/[slug]/page.tsx
  apps/pamerankarya/app/work/page.tsx
Due: prettier --write, eslint
