Repository teknologi-pendidikan/pameran-karya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: format the document using prettier
  src/components/atoms/button-short-third.tsx
  src/components/atoms/logo-edtech.tsx
  src/components/atoms/logo-tepum.tsx
  src/components/atoms/section-title.tsx
  src/components/molecules/mainmenu-button-small.tsx
  src/components/molecules/mainpanel-button-primary.tsx
  src/components/molecules/mainpanel-button-shorthalf.tsx
  src/components/molecules/profile-card.tsx
  src/components/organisms/JenisKarya.tsx
  src/components/organisms/leftPanel.tsx
  src/components/template/layout.tsx
  src/pages/admin/update.tsx
  src/pages/api/DaftarPeserta.ts
Due: prettier --write, eslint

feat: added basic Security Header and loose CSP
  next.config.js
Due: prettier --write, eslint

fix: make button link not visible, respecting WCAG
  src/components/molecules/mainmenu-button-small.tsx
  src/components/molecules/mainpanel-button-shorthalf.tsx
  src/components/organisms/leftPanel.tsx
Due: prettier --write, eslint

fix: make sponsor link text hidden
  src/components/molecules/footer-sponsor.tsx
Due: prettier --write, eslint

fix: defering using h2 for card title
  src/components/molecules/mainpanel-button-primary.tsx
Due: prettier --write, eslint

fix: rework navbar on homepage and interaction
  src/components/organisms/Navbar.tsx
  src/components/template/layout.tsx
  src/pages/partisipan/[nim].tsx
Due: prettier --write, eslint

feat: make the logo pameran have wh passable props
  src/components/atoms/logo-pameran.tsx
Due: prettier --write, eslint

fix: redesign the button and readjust text aligment according to the new design
  src/components/atoms/button-primary.tsx
  src/components/atoms/button-short-half.tsx
  src/components/atoms/button-short-third.tsx
  src/components/molecules/mainpanel-button-primary.tsx
  src/components/molecules/mainpanel-button-shorthalf.tsx
Due: prettier --write, eslint

chore: split the imagecard to separate modules and programtically generate the karya category
  src/components/molecules/JenisKaryaCards.tsx
  src/components/organisms/JenisKarya.tsx
Due: prettier --write, eslint

fix: make link generate programtically
  src/components/organisms/Navbar.tsx
Due: prettier --write, eslint

chore: cleanup import and change wrapper class
  src/components/organisms/Footer.tsx
Due: prettier --write, eslint

test: make stricter eslint rules for ts
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: make ts ignore only slight warn
  .eslintrc.json
Due: prettier --write

fix!: respecting fixes from new eslint rules
  src/components/atoms/button-primary.tsx
  src/components/atoms/logo-edtech.tsx
  src/components/atoms/logo-pameran.tsx
  src/components/atoms/section-title.tsx
  src/components/molecules/footer-sponsor.tsx
  src/components/molecules/mainmenu-button-small.tsx
  src/components/molecules/mainpanel-button-primary.tsx
  src/components/molecules/mainpanel-button-shorthalf.tsx
  src/components/organisms/leftPanel.tsx
  src/pages/admin/update.tsx
  src/pages/api/DaftarPeserta.ts
  src/pages/index.tsx
  src/pages/partisipan/[nim].tsx
  src/pages/partisipan/index.tsx
Due: prettier --write, eslint

feat: added markdown CMS for /post/**
  package.json
  pnpm-lock.yaml
  src/pages/post/[slug].tsx
  tailwind.config.js
Due: prettier --write, eslint

pots: added basic example post for preview
  posts/pedoman-partisipan.md
  posts/pedoman-pengunjung.md
  posts/tentang-pamerankarya.md
Due: none

chore: added new placeholder for dummy images
  public/placeholder.png
Due: none

feat: added new section for displaying general info and blog post
  src/components/molecules/PostCard.tsx
  src/components/organisms/GeneralInformation.tsx
Due: prettier --write, eslint

fix: make logo pameran changeable via passabale props
  src/components/organisms/Navbar.tsx
Due: prettier --write, eslint

fix: make logo pameran black in every path except for homepage
  src/components/template/layout.tsx
Due: prettier --write, eslint

feat: render the general and blogpost section under the about section
  src/pages/index.tsx
Due: prettier --write, eslint

fix: make sponsor logo goes verticel in mobile size
  src/components/molecules/footer-sponsor.tsx
Due: prettier --write, eslint

fix: makes small space on footer content in LGs breakpoint
  src/components/organisms/Footer.tsx
Due: prettier --write, eslint

fix: make navbar fixed in large screen and block in mob size
  src/components/template/layout.tsx
Due: prettier --write, eslint

fix: make the navlink visible in large screen
  src/components/organisms/Navbar.tsx
Due: prettier --write, eslint

fix: make navbar as header instead of mainmenu
  src/components/organisms/Navbar.tsx
  src/pages/index.tsx
Due: prettier --write, eslint

fix: change html lang to id (indonesian)
  src/pages/_document.tsx
Due: prettier --write, eslint

fix: put link props on href
  src/components/molecules/mainpanel-button-shorthalf.tsx
Due: prettier --write, eslint

fix: changes about link and visitor guides to created post
  src/components/organisms/Navbar.tsx
Due: prettier --write, eslint

post: basic much better and contextual content
  posts/pedoman-pengunjung.md
  posts/tentang-pamerankarya.md
Due: none

feat: added strict security header using next-safe package, override script and style to respect the tailwind inline style
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

fix: give thumbnail in youtube video for light loads
  src/components/organisms/About.tsx
Due: prettier --write, eslint

perf: replace png & jpgs images using webp format
  public/bg-pik.webp
  public/frame-chara-selector-2.webp
  public/frame-chara-selector.webp
  public/frame-chara.webp
  public/opengraph.webp
  public/placeholder.webp
  src/components/organisms/About.tsx
  src/components/organisms/GeneralInformation.tsx
  src/components/organisms/JenisKarya.tsx
  src/components/organisms/PlayerSelector.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: prettier --write, eslint

Create .github/workflows/eslint.yml
  .github/workflows/eslint.yml
Due: none

test: create GH action for test unit in PRs or Push towards master branch
  .github/workflows/test.yml
Due: none

docs: add status badge for CF, Eslint & CodeQL
  .gitignore
  README.md
Due: none

docs: update custom funding link to vzrenggamnai trakteer
  FUNDING.yml
Due: none

fix: use ES6 import syntax instead require model
  playwright.config.ts
Due: prettier --write, eslint

fix: remove unused var from the props list
  src/components/molecules/PostCard.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((((((any of: *.ts) or (any of: *.html)) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)
  eslint: ((((any of: *.ts) or (any of: *.html)) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.css)
