Repository teknologi-pendidikan/pameran-karya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.js": ["prettier --write", "eslint"],
  "*.json": "prettier --write",
  "*.css": ["prettier --write", "eslint"],
  "*.scss": "prettier --write"
}

chore: cleanup header and add some basic metadata
  apps/pamerankarya/app/blog/[slug]/page.tsx
Due: prettier --write, eslint

chore: add gdocs embed
  apps/pamerankarya/assets/blog/dibalik-layar-tim-pengelola.mdx
Due: none

chore: update security headers
  apps/pamerankarya/next.config.ts
Due: prettier --write, eslint

fix: make login work for a moment
  apps/backoffice/README.md
  apps/backoffice/app/account/account-form.tsx
  apps/backoffice/app/account/page.tsx
  apps/backoffice/app/admin/categories/page.tsx
  apps/backoffice/app/admin/page.tsx
  apps/backoffice/app/admin/people/page.tsx
  apps/backoffice/app/admin/works/page.tsx
  apps/backoffice/app/auth/actions.ts
  apps/backoffice/app/auth/confirm/route.ts
  apps/backoffice/app/auth/page.tsx
  apps/backoffice/app/auth/signout/route.ts
  apps/backoffice/app/dashboard/page.tsx
  apps/backoffice/app/favicon.ico
  apps/backoffice/app/globals.css
  apps/backoffice/app/layout.tsx
  apps/backoffice/app/page.tsx
  apps/backoffice/app/submit/page.tsx
  apps/backoffice/components/navbar.tsx
  apps/backoffice/components/role-guard.tsx
  apps/backoffice/lib/auth.ts
  apps/backoffice/middleware.ts
  apps/backoffice/proxy.ts
  apps/backoffice/public/file.svg
  apps/backoffice/public/globe.svg
  apps/backoffice/public/next.svg
  apps/backoffice/public/vercel.svg
  apps/backoffice/public/window.svg
  apps/pamerankarya/app/category/[slug]/page.tsx
  apps/pamerankarya/app/person/[slug]/page.tsx
  apps/pamerankarya/app/person/page.tsx
  apps/pamerankarya/app/work/WorkDirectoryClient.tsx
  apps/pamerankarya/app/work/[slug]/page.tsx
  apps/pamerankarya/components/footer.tsx
  apps/pamerankarya/components/navbar.tsx
Due: prettier --write, eslint

feat: page for new user account creation
  apps/backoffice/app/dashboard/account/account-form.tsx
  apps/backoffice/app/dashboard/account/page.tsx
  apps/backoffice/app/dashboard/page.tsx
  apps/backoffice/app/page.tsx
Due: prettier --write, eslint

ui: add color to navbar
  apps/pamerankarya/components/navbar.tsx
Due: prettier --write, eslint

docs: update whitepaper
  apps/pamerankarya/assets/whitepaper.mdx
Due: none

ci: move to root folder for GLCI
  .gitlab-ci.yml
Due: none

dx: init supabase on root workspace
  supabase/.gitignore
  supabase/config.toml
  supabase/schema.sql
  supabase/seed.sql
Due: none

docs: aligning the intruction with the whitepaper policies
  apps/pamerankarya/assets/blog/informasi-kurasi-karya-digital.mdx
  apps/pamerankarya/assets/blog/informasi-sponsor.mdx
  apps/pamerankarya/assets/blog/pedoman-pengiriman-karya.mdx
  apps/pamerankarya/components/footer.tsx
Due: prettier --write, eslint

feat: very basic work input
  apps/backoffice/app/dashboard/account/account-form.tsx
  apps/backoffice/app/dashboard/page.tsx
  apps/backoffice/app/dashboard/works/[id]/edit/page.tsx
  apps/backoffice/app/dashboard/works/[id]/page.tsx
  apps/backoffice/app/dashboard/works/new/page.tsx
  apps/backoffice/app/globals.css
  apps/backoffice/app/layout.tsx
  apps/backoffice/app/page.tsx
  apps/backoffice/auto-profile-trigger.sql
  apps/backoffice/components.json
  apps/backoffice/components/navigation.tsx
  apps/backoffice/components/ui/alert-dialog.tsx
  apps/backoffice/components/ui/badge.tsx
  apps/backoffice/components/ui/button.tsx
  apps/backoffice/components/ui/card.tsx
  apps/backoffice/components/ui/dialog.tsx
  apps/backoffice/components/ui/form.tsx
  apps/backoffice/components/ui/input.tsx
  apps/backoffice/components/ui/label.tsx
  apps/backoffice/components/ui/select.tsx
  apps/backoffice/components/ui/textarea.tsx
  apps/backoffice/components/work-submission-form.tsx
  apps/backoffice/components/works-list.tsx
  apps/backoffice/lib/actions.ts
  apps/backoffice/lib/client-utils.ts
  apps/backoffice/lib/database.ts
  apps/backoffice/lib/user-profile.ts
  apps/backoffice/lib/utils.ts
  apps/backoffice/package.json
  apps/backoffice/rls-policies.sql
  apps/backoffice/rls-restrictive-policies.sql
  apps/backoffice/schema-compatible-rls.sql
  apps/backoffice/setup-rls-basic.sql
  apps/backoffice/setup-sample-data.sql
  apps/backoffice/supabase/schema.sql
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: add some roles, edit features and author system
  apps/backoffice/app/auth/actions.ts
  apps/backoffice/app/auth/error/page.tsx
  apps/backoffice/app/auth/login/page.tsx
  apps/backoffice/app/auth/oauth/route.ts
  apps/backoffice/app/dashboard/page.tsx
  apps/backoffice/app/dashboard/works/[id]/edit/page.tsx
  apps/backoffice/app/dashboard/works/[id]/page.tsx
  apps/backoffice/app/dashboard/works/new/page.tsx
  apps/backoffice/app/layout.tsx
  apps/backoffice/app/protected/page.tsx
  apps/backoffice/components.json
  apps/backoffice/components/login-form.tsx
  apps/backoffice/components/logout-button.tsx
  apps/backoffice/components/navigation.tsx
  apps/backoffice/components/work-edit-form.tsx
  apps/backoffice/components/work-submission-form.tsx
  apps/backoffice/lib/actions.ts
  apps/backoffice/lib/client-utils.ts
  apps/backoffice/lib/client.ts
  apps/backoffice/lib/database.ts
  apps/backoffice/lib/middleware.ts
  apps/backoffice/lib/server.ts
  apps/backoffice/link-person-profile.sql
  apps/backoffice/proxy.ts
Due: prettier --write, eslint

feat: make login using google
  apps/backoffice/app/auth/page.tsx
  apps/backoffice/components/login-form.tsx
Due: prettier --write, eslint

feat: support multi-auth system
  apps/backoffice/components/login-form.tsx
Due: prettier --write, eslint

chore: use webp assets for thumbnail
  apps/pamerankarya/assets/blog/dibalik-layar-tim-pengelola.mdx
  apps/pamerankarya/assets/blog/informasi-kurasi-karya-digital.mdx
  apps/pamerankarya/assets/blog/informasi-sponsor.mdx
  apps/pamerankarya/assets/blog/linimasa-kegiatan.mdx
  apps/pamerankarya/assets/blog/pedoman-pengiriman-karya.mdx
  apps/pamerankarya/components/ExploreCarousel.tsx
  apps/pamerankarya/components/sections/StudentPhotography.tsx
  apps/pamerankarya/lib/blog.ts
  apps/pamerankarya/public/category-ai-1x1.webp
  apps/pamerankarya/public/category-belajardigital-1x1.webp
  apps/pamerankarya/public/category-gamifikasi-1x1.webp
  apps/pamerankarya/public/category-tep-1x1.webp
  apps/pamerankarya/public/placeholder-16x9.jpg
  apps/pamerankarya/public/placeholder-16x9.webp
Due: prettier --write, eslint

feat: add page for backoffice oauth verification
  apps/backoffice/app/kebijakan-privasi/page.tsx
  apps/backoffice/app/ketentuan-layanan/page.tsx
  apps/backoffice/app/layout.tsx
  apps/backoffice/app/manifest.ts
  apps/backoffice/app/page.tsx
  apps/backoffice/app/sitemap.ts
  apps/backoffice/app/tentang/page.tsx
  apps/backoffice/components/navigation.tsx
  apps/backoffice/lib/middleware.ts
  apps/backoffice/public/robots.txt
  pamerankarya.code-workspace
Due: prettier --write, eslint

dx: update schema
  apps/backoffice/auto-profile-trigger.sql
  apps/backoffice/link-person-profile.sql
  apps/backoffice/rls-policies.sql
  apps/backoffice/rls-restrictive-policies.sql
  apps/backoffice/schema-compatible-rls.sql
  apps/backoffice/setup-rls-basic.sql
  apps/backoffice/setup-sample-data.sql
  apps/backoffice/supabase/schema.sql
Due: none

feat: allow add contributors and assets
  apps/backoffice/app/api/assets/[id]/route.ts
  apps/backoffice/app/api/assets/route.ts
  apps/backoffice/app/api/people/route.ts
  apps/backoffice/app/api/works/[workId]/contributors/[personId]/route.ts
  apps/backoffice/app/api/works/[workId]/contributors/route.ts
  apps/backoffice/app/dashboard/works/[id]/edit/page.tsx
  apps/backoffice/app/globals.css
  apps/backoffice/components/asset-manager.tsx
  apps/backoffice/components/contributor-manager.tsx
  apps/backoffice/components/ui/command.tsx
  apps/backoffice/components/ui/popover.tsx
  apps/backoffice/components/work-edit-form.tsx
  apps/backoffice/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

ui: boxy layout and using dark theme
  apps/backoffice/app/dashboard/works/[id]/edit/page.tsx
  apps/backoffice/app/globals.css
  apps/backoffice/components/navigation.tsx
  apps/backoffice/components/work-edit-form.tsx
  apps/backoffice/components/work-submission-form.tsx
  apps/backoffice/components/works-list.tsx
  apps/backoffice/lib/client-utils.ts
  apps/backoffice/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

dx: add build metadata
  apps/pamerankarya/components/BuildInfoDisplay.tsx
  apps/pamerankarya/components/footer.tsx
  apps/pamerankarya/generate-build-info.js
  apps/pamerankarya/lib/build-info.ts
  apps/pamerankarya/package.json
Due: prettier --write, eslint

dx: allow all google domains iframe
  apps/pamerankarya/next.config.ts
Due: prettier --write, eslint

dx: make user auto register to the system
  apps/backoffice/lib/actions.ts
  apps/backoffice/lib/user-profile.ts
Due: prettier --write, eslint

dx: make linting run from workspace
  apps/web-backoffice/package.json
  apps/web-exhibition/app/explore/page.tsx
  apps/web-exhibition/app/work/WorkDirectoryClient.tsx
  apps/web-exhibition/package.json
  package.json
  pamerankarya.code-workspace
  pnpm-lock.yaml
Due: prettier --write, eslint

deps: upgrade and moving the dev into root
  apps/web-backoffice/package.json
  apps/web-backoffice/supabase/.gitignore
  apps/web-backoffice/supabase/config.toml
  apps/web-backoffice/supabase/schema.sql
  apps/web-exhibition/package.json
  apps/web-exhibition/supabase/.gitignore
  apps/web-exhibition/supabase/config.toml
  apps/web-exhibition/supabase/migrations/20251220092916_remote_schema.sql
  apps/web-exhibition/supabase/schema.sql
  apps/web-exhibition/supabase/seed.sql
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: make works slug work even the database are empty
  apps/web-exhibition/app/work/[slug]/page.tsx
  apps/web-exhibition/lib/build-info.ts
  apps/web-exhibition/next.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: move csp headers into netlify config
  apps/web-exhibition/lib/build-info.ts
  apps/web-exhibition/netlify.toml
  apps/web-exhibition/next.config.ts
Due: prettier --write, eslint

ui: add submit karya
  apps/web-exhibition/components/navbar.tsx
Due: prettier --write, eslint

test: add testing for homepage components
  .gitlab-ci.yml
  apps/web-exhibition/.gitignore
  apps/web-exhibition/__tests__/BuildInfoDisplay.test.tsx
  apps/web-exhibition/__tests__/CategoryCarousel.test.tsx
  apps/web-exhibition/__tests__/ExploreCarousel.test.tsx
  apps/web-exhibition/__tests__/Footer.test.tsx
  apps/web-exhibition/__tests__/MarkdownContent.test.tsx
  apps/web-exhibition/__tests__/Navbar.test.tsx
  apps/web-exhibition/__tests__/PersonDetailPage.test.tsx
  apps/web-exhibition/__tests__/PersonPage.test.tsx
  apps/web-exhibition/__tests__/WorkDetailPage.test.tsx
  apps/web-exhibition/__tests__/WorkPage.test.tsx
  apps/web-exhibition/components/CategoryCarousel.tsx
  apps/web-exhibition/components/ExploreCarousel.tsx
  apps/web-exhibition/eslint.config.mjs
  apps/web-exhibition/jest.config.js
  apps/web-exhibition/jest.setup.js
  apps/web-exhibition/package.json
  apps/web-exhibition/test.log
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

ci: add jest-junit for coverage
  .gitlab-ci.yml
  apps/web-exhibition/jest.config.js
  apps/web-exhibition/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

ci: make explicit packages directory
  apps/web-exhibition/netlify.toml
  package.json
  pnpm-workspace.yaml
Due: prettier --write

ci: add build bundle inspection
  .gitlab-ci.yml
Due: none

ci: make linting passing
  apps/web-exhibition/__tests__/BuildInfoDisplay.test.tsx
  apps/web-exhibition/__tests__/Footer.test.tsx
  apps/web-exhibition/__tests__/MarkdownContent.test.tsx
  apps/web-exhibition/__tests__/Navbar.test.tsx
  apps/web-exhibition/__tests__/WorkDetailPage.test.tsx
  apps/web-exhibition/components/MarkdownContent.tsx
  apps/web-exhibition/eslint.config.mjs
  apps/web-exhibition/test.log
Due: prettier --write, eslint

ci: change the supabase key
  .gitlab-ci.yml
Due: none

chore: linting fix
  .gitlab-ci.yml
  apps/web-backoffice/app/dashboard/page.tsx
  apps/web-backoffice/app/dashboard/works/[id]/page.tsx
  apps/web-backoffice/app/page.tsx
  apps/web-backoffice/components/navigation.tsx
  apps/web-backoffice/components/ui/command.tsx
  apps/web-backoffice/components/work-edit-form.tsx
  apps/web-backoffice/components/work-submission-form.tsx
  apps/web-backoffice/components/works-list.tsx
  apps/web-backoffice/lib/actions.ts
  apps/web-backoffice/lib/supabase/proxy.ts
  apps/web-backoffice/lib/user-profile.ts
  apps/web-backoffice/package.json
  apps/web-exhibition/__tests__/PersonDetailPage.test.tsx
  apps/web-exhibition/package.json
Due: prettier --write, eslint

chore: compress images and remove unused assest
  apps/web-exhibition/components/sections/BlogReleaseSection.tsx
  apps/web-exhibition/public/.gitkeep
  apps/web-exhibition/public/category-buku-4x6.png
  apps/web-exhibition/public/category-buku-4x6.webp
  apps/web-exhibition/public/category-multimedia-4x6.webp
  apps/web-exhibition/public/category-risetpendidikan-4x6.webp
  apps/web-exhibition/public/category-video-4x6.webp
  apps/web-exhibition/public/maskable_icon.png
  apps/web-exhibition/public/placeholder-4x6.png
  apps/web-exhibition/public/placeholder-foto-labtepum-lego-16x9.webp
  apps/web-exhibition/public/placeholder-foto-praktikum-lego-16x9.webp
  apps/web-exhibition/public/placeholder-foto-umdrone-16x9.webp
  apps/web-exhibition/public/placeholder-foto-umdrone-lego-16x9.webp
Due: prettier --write, eslint

chore: add easter egg on homepage
  apps/web-exhibition/app/page.tsx
  apps/web-exhibition/components/EasterEgg.tsx
Due: prettier --write, eslint

ui: make navbar items does not clamped in 2xl layout
  apps/web-exhibition/components/navbar.tsx
Due: prettier --write, eslint

ui: rework the exsibitor layout into vertical card
  apps/web-exhibition/app/person/page.tsx
Due: prettier --write, eslint
