Repository teknologi-pendidikan/pameran-karya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

ci: added pnpm installer in every build task
  .github/workflows/test.yml
Due: none

fix(ci): defer ci env to supress warning error
  .github/workflows/test.yml
Due: none

deps: add sharp package for nextjs image optimazation
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: added aria label in logo heading
  src/components/organisms/Navbar.tsx
Due: prettier --write, eslint

fix: bypass YT domain to allow video embed load
  next.config.js
Due: prettier --write, eslint

fix: change P elemrnt to span, make it more clear it just an decorative text
  src/components/molecules/footer-sponsor.tsx
Due: prettier --write, eslint

fix: make the button not focusable by keyboard navigation
  src/components/molecules/mainmenu-button-small.tsx
Due: prettier --write, eslint

fix: added aria label for element to distingusish in AOM tree
  src/components/organisms/About.tsx
  src/components/organisms/Footer.tsx
  src/components/organisms/GeneralInformation.tsx
  src/components/organisms/JenisKarya.tsx
  src/components/organisms/PlayerSelector.tsx
Due: prettier --write, eslint

fix: changes main menu elemnt to section and give proper aria label respecting the AOM
  src/pages/index.tsx
Due: prettier --write, eslint

build: ignore created sw and workbox from next-pwa
  .gitignore
Due: none

dx: ignore firefox theme color not supported hints
  .hintrc
Due: none

build: added next-pwa and it Types Definition
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: enables next-pwa with online fetch priority
  next.config.js
Due: prettier --write, eslint

fix: make every icon is maskable
  public/manifest.json
Due: prettier --write

chore: added theme color to head tag
  src/pages/_document.tsx
Due: prettier --write, eslint

feat: added event color scheme
  tailwind.config.js
Due: prettier --write, eslint

chore: change navbar color to site theme
  src/components/template/layout.tsx
Due: prettier --write, eslint

deps: added react slick and caraousel
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: change color as schema color
  src/components/organisms/About.tsx
Due: prettier --write, eslint

feat: make image caraousel in mobile size
  src/components/organisms/JenisKarya.tsx
  src/components/organisms/PlayerSelector.tsx
Due: prettier --write, eslint

chore: chnage color as new scheme color
  src/components/template/layout.tsx
Due: prettier --write, eslint

fix: make text nav hidden in mobile nav
  src/components/organisms/Navbar.tsx
Due: prettier --write, eslint

fix: make post layout vertically aligned in mobile nav
  src/components/organisms/GeneralInformation.tsx
Due: prettier --write, eslint

chore: defer p tag element and use span instead
  src/components/organisms/Footer.tsx
Due: prettier --write, eslint

fix: make mainmenu responsive as before in mobile nav
  src/pages/index.tsx
Due: prettier --write, eslint

chore: move icons file to manifest folder
  public/manifest.json
  public/manifest/icons/icon-128x128.png
  public/manifest/icons/icon-144x144.png
  public/manifest/icons/icon-152x152.png
  public/manifest/icons/icon-192x192.png
  public/manifest/icons/icon-384x384.png
  public/manifest/icons/icon-512x512.png
  public/manifest/icons/icon-72x72.png
  public/manifest/icons/icon-96x96.png
Due: prettier --write

chore: use new images and assets folder structure
  public/assets/bg-fullpage.webp
  public/assets/bg-mainmenu.webp
  public/assets/icon-logo-tepfestiva.webp
  public/assets/img-jeniskarya.webp
  public/assets/opengraph.webp
  public/assets/placeholder.webp
  src/components/organisms/GeneralInformation.tsx
  src/components/organisms/JenisKarya.tsx
  src/components/organisms/PlayerSelector.tsx
  src/pages/index.tsx
Due: prettier --write, eslint

fix: change image placeholders
  posts/pedoman-partisipan.md
  posts/pedoman-pengunjung.md
  posts/tentang-pamerankarya.md
Due: none

deps: update packages version and added lightbox pack
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: allow cloudhost for image hosting and disable the next-PWA
  next.config.js
Due: prettier --write, eslint

feat: added page for karya 2d with lightboxjs
  src/components/atoms/wrapper-next-image-gallery.tsx
  src/components/atoms/wrapper-next-image-lightbox.tsx
  src/pages/karya/2d/index.tsx
Due: prettier --write, eslint

chore: minor theme changes to color and padding
  src/components/molecules/PostCard.tsx
Due: prettier --write, eslint

fix: change youtube video light thumbnail url
  src/components/organisms/About.tsx
Due: prettier --write, eslint

chore: minor theme color changes
  src/components/organisms/GeneralInformation.tsx
Due: prettier --write, eslint

bug: disable partisipan each page rendering
  src/pages/partisipan/[nim].tsx
Due: prettier --write, eslint

chore: remove console output
  src/components/molecules/PostCard.tsx
Due: prettier --write, eslint

chore: use less quality for the gallery display images
  src/components/atoms/wrapper-next-image-gallery.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((((((any of: *.ts) or (any of: *.html)) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)
  eslint: ((((any of: *.ts) or (any of: *.html)) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.css)
